# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Блог
title_separator: "|"
subtitle: "Версия 1.1"
name: "Rinat Mambetov"
email: mambetovpost@gmail.com
description: Dive into my world with my latest blog post
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://rinatmambetov.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  rinatmambetov
repository: "RinatMambetov/RinatMambetov.github.io"
date_format: "%d.%m.%Y"
words_per_minute: 250
enable_copy_code_button: true
search: true
timezone: Europe/Moscow
include: ["_pages"]
locale: "ru-RU"
# breadcrumbs: true (бета не работает)
# teaser: /assets/images/java.jpg (картинка сверху страницы)

# head_scripts: (скрипты если нужны)
#   - https://code.jquery.com/jquery-3.2.1.min.js
#   - /assets/js/your-custom-head-script.js

defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single

  # _philosophy
  - scope:
      path: ""
      type: philosophy
    values:
      layout: single
      author_profile: false
      read_time: true
      show_date: true
      share: false
      classes: wide
      related: false
      comments: false

  # _books
  - scope:
      path: ""
      type: books
    values:
      layout: single
      author_profile: false
      read_time: true
      show_date: true
      share: false
      classes: wide
      related: false
      comments: false

  # _movies
  - scope:
      path: ""
      type: movies
    values:
      layout: single
      author_profile: false
      read_time: true
      show_date: true
      share: false
      classes: wide
      related: false
      comments: false

  # _music
  - scope:
      path: ""
      type: music
    values:
      layout: single
      author_profile: false
      read_time: true
      show_date: true
      share: false
      classes: wide
      related: false
      comments: false

collections:
  philosophy:
    output: true
    permalink: /:collection/:path/
  books:
    output: true
    permalink: /:collection/:path/
  movies:
    output: true
    permalink: /:collection/:path/
  music:
    output: true
    permalink: /:collection/:path/

atom_feed: # отключение RSS
  hide: true

author:
  name: "Ринат Мамбетов"
  avatar: "/assets/images/bio-photo.jpg"
  bio: "«Мы — то, что мы постоянно делаем. Совершенство, следовательно, не действие, а привычка» Аристотель"
  location: "Москва, Россия"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/RinatMambetov"
    - label: "ВКонтакте"
      icon: "fab fa-fw fa-vk"
      url: "https://vk.com/rinatmambetov"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/RinatMambetov"
    - label: "ВКонтакте"
      icon: "fab fa-fw fa-vk"
      url: "https://vk.com/rinatmambetov"

compress_html:
  clippings: all
  ignore:
    envs: development  # disable compression in dev environment

# Build settings

remote_theme: "mmistakes/minimal-mistakes@4.27.3"
minimal_mistakes_skin: "dirt" #"air", "default" "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

plugins:
  # - jekyll-feed
  - jekyll-include-cache
  - jekyll-remote-theme
  # - jekyll-paginate
  # - jekyll-archives

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
